.menu:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.menu {
  display: flex;
  padding-top: 10px;
}
.buttons {
  width: 10vw;
  height: 7vh;
  margin: 10px;
  background: black;
  color: #5260c4;
  border: none;
  position: relative;
  font-size: 1.1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.buttons:hover {
  background: #5260a8;
  color: #fff;
}
.buttons:before,
.buttons:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: purple;
  transition: 400ms ease all;
}
.buttons:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.buttons:hover:before,
.buttons:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
