.create{
    width: 100%;
    justify-content: center; 
}
.inserttitle input{
    width: 30vw;
    padding: 12px 20px;
    margin: 1vh 0 0 4.6vw;
    box-sizing: border-box;
    height: 7vh;
    border: none;
    border-bottom: solid #dcdcdc 1px;  
}
.insertdate select{
    width: 30vw;
    padding: 12px 20px;
    margin: 1vh 0 0 3.3vw;
    box-sizing: border-box;
    height: 7vh;
    border: none;
    border-bottom: solid #dcdcdc 1px;    
}
/* .insertdesc input{
    width: 30vw;
    padding: 12px 20px;
    margin: 1vh 0 0 1vw;    
    box-sizing: border-box;
    height: 17vh;
    border: none;
    border-bottom: solid #dcdcdc 1px;    
} */
.insertdesc textarea{
    width: 30vw;
    padding: 12px 20px;
    margin: 1vh 0 0 1vw;    
    box-sizing: border-box;
    height: 17vh;
    border: none;
    border-bottom: solid #dcdcdc 1px;
    font-family: Roboto;

}
.content1{
    font-family: Roboto;
    align-items: center; 
    justify-content: center;
    padding: 1vh 0 0 30vw;
}
.content2{
    font: Roboto;
    width: 100%;
}

.insertdate{
    padding: 0 0 0 30.2vw;
}
.fileimg input{
    margin: 2vh 0 3vh 42vw;
    font-size: 1.2vw;
    font-family: Roboto;
}
.insertdate input{
    font-size: 1.2vw;
    font-family: Roboto;
}
.submitbtn button{
    border: none;
    background-color: red;
    padding: 12px 20px;
    width: 20%;
    border-radius: 10px;
    color: #faefef;
    cursor: pointer;
    text-align: center;
    position: relative;
    font-family: Roboto;
    }
.submitbtn{
    padding: 2vh 0 0 45vw;
}
