::placeholder {
  color: white;
  opacity: 0.5;
  padding-left: 10px;
}
input[type] {
  padding: 0 5% 0 5%;
}
.formParent {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  background-color: black;
}
.control-dots {
  background-color: transparent;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid black !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid black !important;
}
.carousel .control-dots .dot {
  background: black !important;
}
.thumb {
  opacity: 0 !important;
}
.signin {
  font-size: 3.5vw;
}
.imageForm {
  width: 60vw;
  height: 100vh;
  position: relative;
  -webkit-animation: imagemove 3s;
  animation: imagemove 3s;
}
.imagelogin {
  width: 75% !important;
  height: 99%;
}
.loginForm {
  width: 40vw;
  height: 100vh;
  position: relative;
  -webkit-animation: formmove 5s;
  animation: formmove 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columnLogin {
  width: 50%;
  height: 80%;
}
.inputformlogin {
  padding-top: 20%;
}
.inputformlogin label {
  font-size: 0.8vw;
}
.inputtextlogin input {
  width: 89.5%;
  height: 3vw;
  border-radius: 7px;
  font-size: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
}
.useridform {
  padding-bottom: 2vh;
}

.buttonlogin {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  perspective: 700px;
}
.imageForm {
  width: 60vw;
  position: relative;
  -webkit-animation: imagemove 3s;
  animation: imagemove 3s;
  display: flex;
  justify-content: center;
}

.imagelogin {
  width: 90%;
  height: 80%;
  align-self: center;
}
.imagelogin img {
  width: 100%;
  height: 100%;
  background-color: yellow;
}
.errorlogin {
  background-color: red !important;
}
.buttonlogin button {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

.buttonlogin button {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 20px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(28, 227, 125, 0.5);
  background: #2d44f5;
  color: #ceccce;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.buttonlogin button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px hsla(290, 100%, 50%, 0.3);

  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

.buttonlogin button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0);
  background: #0066ff;
}
@-webkit-keyframes formmove {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes formmove {
  from {
    left: -10%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes imagemove {
  0% {
    right: 0px;
    opacity: 0.1;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}

@keyframes imagemove {
  0% {
    right: 0%;
    opacity: 0.1;
  }

  100% {
    right: 0%;
    opacity: 1;
  }
}
@media only screen and (min-width: 3400px) {
  .buttonlogin {
    width: 100%;
    height: 150px;
    margin-top: 50px;
  }
  .buttonlogin button {
    font-size: 40px;
  }
  .inputformlogin label {
    font-size: 40px;
  }
  .inputtextlogin input {
    width: 89.7%;
    font-size: 50px;
    height: 140px;
  }
  .signin {
    font-size: 120px;
  }
}
